<div class="page-header">
    <h1><span class="glyphicon glyphicon-th" aria-hidden="true"></span> {{assesment.name}}</h1>
</div>

<div class="row">
    <div class="list-group col-md-3">

        <!-- Category list -->
        <a href="" class="list-group-item" ng-class="{ active: $index==currentCategory}" ng-repeat="category in assesment.categories track by $index" ng-click="changeCategory($index)">
            <span class="badge">{{assesment.categories[$index].questions.length - userResponses[$index].length}}</span>
            <h4 class="list-group-item-heading">{{category.name}} </h4>
            <p class="list-group-item-text" ng-if="$index==currentCategory">{{category.description}}</p>

        </a>

        <!-- Progress Bar -->
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar " aria-valuenow="{{progression}} " aria-valuemin="0 " aria-valuemax="100 " style="width: {{progression}}%; ">
                {{progression}}% ({{responseCount}} / {{questionCount}})
            </div>
        </div>
    </div>

    <!-- Assesment page -->
    <div class="assesment col-md-9">

        <p class="question"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{assesment.categories[currentCategory].questions[currentQuestion].title}}</p>


        <!-- Horizontal display -->
        <div class="btn-group" role="group" ng-repeat="response in assesment.categories[currentCategory].questions[currentQuestion].responses" ng-if="assesment.display == 'horizontal' || assesment.display == undefined">

            <!-- Never responded button -->
            <button type="button" class="btn btn-lg response" ng-if="userResponses[currentCategory][currentQuestion] !== response.id " ng-click="saveResponse(response.id)"><span class="glyphicon" aria-hidden="true"></span> {{response.value}}</button>

            <!-- Already responded button -->
            <button type="button" class="btn btn-lg btn-success response" ng-if="userResponses[currentCategory][currentQuestion] === response.id" ng-click="saveResponse(response.id)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{response.value}}</button>
            
        </div>
        
        <!-- Vertical display -->
        <ol type="A" ng-if="assesment.display == 'vertical'">
            <li  ng-repeat="response in assesment.categories[currentCategory].questions[currentQuestion].responses" >

                <!-- Never responded button -->
                <button type="button" class="btn btn-default response" ng-if="userResponses[currentCategory][currentQuestion] !== response.id " ng-click="saveResponse(response.id)"><span class="glyphicon" aria-hidden="true"></span> {{response.value}}</button>

                <!-- Already responded button -->
                <button type="button" class="btn btn-success response" ng-if="userResponses[currentCategory][currentQuestion] === response.id" ng-click="saveResponse(response.id)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{response.value}}</button>

            </li>
        </ol>
    </div>
</div>

<div class="row">

    <div class="col-md-3"></div>

    <div class="col-md-9">

        <div class="col-md-1">
            <button type="button" ng-click="previousQuestion()" class="btn btn-primary">&lt; Previous</button>
        </div>

        <div class="col-md-10 text-center index">
            <button ng-repeat="question in assesment.categories[currentCategory].questions track by $index" type="button" class="btn btn-sm" ng-click="changeQuestion($index)" ng-class="{ 'btn-success': userResponses[currentCategory][$index] !== undefined, 'active':$index==currentQuestion}">{{$index}}</button>
        </div>

        <div class="col-md-1">

            <!-- Next button -->
            <button type="button" ng-click="nextQuestion()" class="btn btn-primary" ng-if="!isLastQuestion()">Next &gt;</button>

            <!-- Finish the assesment -->
            <button type="button" data-toggle="modal" data-target="#finishForm" class="btn btn-success" ng-if="isLastQuestion()">Finish &gt;</button>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="finishForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">You have finish the {{assesment.name}} !</h4>
            </div>
            <div class="modal-body">

                <p ng-if="responseCount == questionCount">You filled the responses to all questions.</p>
                <p ng-if="responseCount < questionCount">You missed to respond to {{questionCount - responseCount}} question(s)</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Review my responses</button>
                <button type="button" class="btn btn-success" ng-click="sendResponses()">Send my responses</button>
            </div>
        </div>
    </div>
</div>
